<ul style="list-style: none;">
    <li><a href="/products">All</a></li>
    <li><a href="/products/category/Books, Novels & Notes">Books, Novels & Notes</a></li>
    <li><a href="/products/category/Stationery">Stationery</a></li>
    <ul style="list-style: none">
        <li><a href="/products/category/Calculators">Calculators</a></li>
        <li><a href="/products/category/Other Stationery Items">Other Stationery Items</a></li>
    </ul>
    <li><a href="/products/category/Electronics">Electronics</a></li>
    <ul style="list-style: none">
        <li><a href="/products/category/Computers">Computers</a></li>
        <li><a href="/products/category/Laptops">Laptops</a></li>
        <li><a href="/products/category/Computer Accessories">Computer Accessories</a></li>
        <li><a href="/products/category/Mobile Phones">Mobile Phones</a></li>
        <li><a href="/products/category/Tablets">Tablets</a></li>
        <li><a href="/products/category/Mobile Accessories">Mobile Accessories</a></li>
        <li><a href="/products/category/Speakers">Speakers</a></li>
        <li><a href="/products/category/Other Electronic Items">Other Electronic Items</a></li>
    </ul>
    <li><a href="/products/category/Furniture & Decor">Furniture & Decor</a></li>
    <ul style="list-style: none">
        <li><a href="/products/category/Furniture">Furniture</a></li>
        <li><a href="/products/category/Desk Accessories">Desk Accessories</a></li>
        <li><a href="/products/category/Paintings">Paintings</a></li>
        <li><a href="/products/category/Other Furniture Items">Other Furniture Items</a></li>
    </ul>
    <li><a href="/products/category/Bicycles">Bicycles</a></li>
    <li><a href="/products/category/Music Instruments">Music Instruments</a></li>
    <li><a href="/products/category/Sports & Gym">Sports & Gym</a></li>
    <li><a href="/products/category/Bags - Luggage">Bags - Luggage</a></li>
    <li><a href="/products/category/Other Items">Other Items</a></li>
</ul>