<table class="table">
    <tbody id="detailsTableBody">

    <% products.forEach(function(product){ %>
        <tr>
            <td><img width="40px" src="<%=product.imageLink%>"></td>
            <th><%= product.productName %></th>
            <td>Rs <%= product.price %></td>
            <td>
                <form action="/products/delete" method="post">
                    <input type="hidden" name="productId" value="<%=product._id%>">
                    <button type="submit" class="close" >
                        <span aria-hidden="true"><i class="fas fa-trash"></i></span>
                    </button>
                </form>
            </td>
        </tr>
    <% }) %>


    </tbody>
</table>
</div>
